/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
	70% {
		color: @light;
	}

	to {
		color: @light;
		background-color: @warning;
	}
}

@keyframes blink-critical {
	70% {
		color: @light;
	}

	to {
		color: @light;
		background-color: #000000;
	}
}


/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */

/* Nord */
/*@define-color light #eceff4;
@define-color dark #2e3440;
@define-color warning #ebcb8b;
@define-color critical #d08770;
@define-color mode #4c566a;
@define-color workspaces #5e81ac;
@define-color workspacesfocused #81a1c1;
@define-color sound #d8dee9;
@define-color network #4c566a;
@define-color memory #88c0d0;
@define-color cpu #434c5e;
@define-color temp #d8dee9;
@define-color layout #5e81ac;
@define-color battery #88c0d0;
@define-color date #2e3440;
@define-color time #eceff4;*/

/* Gruvbox */
@define-color light #ebdbb2;
@define-color dark #282828;
@define-color warning #fabd2f;
@define-color critical #cc241d;
@define-color mode #a89984;
@define-color workspaces #8c8c8c;
@define-color workspacesfocused #c9c9c9;
@define-color sound #d3869b;
@define-color network #696969;
@define-color memory #8ec07c;
@define-color cpu #98971a;
@define-color temp #b8bb26;
@define-color layout #689d6a;
/*@define-color battery #fabd2f;*/
@define-color battery #886655;
@define-color date #282828;
@define-color time #ebdbb2;

/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 2;
	padding: 0;
}

/* The whole bar */
#waybar {
	background: @date;
	color: @light;
  	font-family: Jetbrains Mono, FiraCode Nerd Font, Fantasque Sans Mono;
	font-size: 11pt;
	font-weight: bold;
}

/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#sndio,
#tray {
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 16;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
	color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
	color: @warning;
}

/* Each warning that should blink */
#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 3s;
}

/* And now modules themselves in their respective order */

#mode { /* Shown current Sway mode (resize etc.) */
	color: @light;
	background: @mode;
}

/* Workspaces stuff */
#workspaces button {
	/*font-weight: bold;*/
	padding-left: 4px;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
	border-radius: 16;
  background-color: #fff ;
	padding-right: 4px;
	color: @dark;
	background: @workspaces;
}

#workspaces button.active {
  background: @workspacesfocused;
  box-shadow: rgba(0, 0, 0, 0.116) 6 6 5 6px;
}

#workspaces button.focused {
	background: @workspaces;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 6px;
}

#workspaces button.unfocused {
	background: @workspaces;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 6px;
}

/*#workspaces button.urgent {
	border-color: #c9545d;
	color: #c9545d;
}*/

#window {
	margin-right: 40px;
	margin-left: 40px;
}

#custom-alsa,
#pulseaudio,
#sndio {
	background: @date;
	color: @light;
}

#network {
	background: @date;
	color: @light;
}

#memory {
	background: @date;
	color: @light;
/*  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;*/
}

#cpu {
	background: @date;
	color: @light;
/*  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;*/
}

#temperature {
	background: @date;
	color: @dark;
}

#language {
	background: @date;
	color: @light;
}

#battery {
	background: @date;
	color: @dark;
}

#tray {
	background: @date;
/*  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;*/
}

#clock.date {
	background: @date;
	color: @light;
/*  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;*/
	border-radius: 16;
}

#clock.time {
	background: @time;
	color: @dark;
/*  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;*/
	border-radius: 16;
}

#pulseaudio.muted {
	/* No styles */
}

#custom-ownarrow {
  font-size: 16px;
  color: @battery;
  background: transparent;
}

#custom-gm1 {
  font-size: 16px;
  color: @light;
  background: @date;
/*  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;*/
	border-radius: 16;
}


#custom-arrow1 {
	font-size: 16px;
	color: @sound;
	background: @battery;
}

#custom-arrow2 {
	font-size: 16px;
	color: @network;
	background: @sound;
}

#custom-arrow3 {
	font-size: 16px;
	color: @memory;
	background: @network;
}

#custom-arrow4 {
	font-size: 16px;
	color: @cpu;
	background: @memory;
}

#custom-arrow5 {
	font-size: 16px;
	color: @temp;
	background: @cpu;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
}

#custom-arrow6 {
	font-size: 16px;
	color: @layout;
	background: @temp;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
}

#custom-arrow7 {
	font-size: 16px;
	color: @battery;
	background: @layout;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
}

#custom-arrow8 {
	font-size: 16px;
	color: @date;
	background: @cpu;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
}

#custom-arrow9 {
	font-size: 16px;
	color: @time;
	background: @date;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
}

#custom-arrow10 {
	font-size: 16px;
	color: @workspaces;
	background: @date;
}

#custom-yayu {
  color: @light;
  background: @date;
/*  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;*/
	border-radius: 16;
}
#custom-hexpicker {
  color: @light;
  background: @date;
/*  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;*/
	border-radius: 16;
}
#custom-window {
  color: @light;
	border-radius: 16;
}
#custom-hexreader {
  color: @light;
  background: @date;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
	border-radius: 16;
}
#custom-wp-changer {
  color: @light;
  background: @date;
/*  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;*/
	border-radius: 16;
}

#custom-cava {
  color: @light;
  background: @date;
  box-shadow: rgba(0, 0, 0, 0.116) 2 2 5 2px;
	border-radius: 16;
}

#window {
  border-radius: 0px;
  padding-left: 0px;
  padding-right: 0px;
	border-radius: 16;
}
#gamemode {
  color: @light;
  background: @date;
	border-radius: 16;
}
